/*100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
    z-index: -5;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}